@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;500&family=Roboto:wght@100;400;500&display=swap');

.card p, .project-summary {
    
    line-height: 20px;
    font-family: sans-serif;
    
  }
  
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
    
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 32px 24px;
    /* margin: 12px; */
    /* margin-right: 0px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
    
  }
  
  .card1:hover:before {
    transform: scale(37);
  }
  
  .card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;

  }  

  .card1:hover ul li {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card{
    /* border: solid; */
    /* height: 350px;
    position: relative;
    min-width: 450px;;
    max-width: 400px;;
    background-color: transparent;
    border: none; */

    
  }

  .short-card{
    min-height: 200px;
  }

  .long-card {
    min-height: 350px;
  }
  
  .card-arrangment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;
    /* border: solid; */
    padding: 40px;
    padding-right: 70px;
    
    margin-bottom: 0px;;
    /* width: 100%; */
    /* height: 300px; */
    position: relative;

  }

  
  
  .card1{
    /* border: solid; */
    /* position: relative; */
    /* padding: 16px;
    height: 100%;
    margin:0px;
    transition: 0.2s; */
    /* width: 1000px; */

   
  }

  .project-name{
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .tech-stack-list{
    display: inline;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 13px;
  }

  p{
    font-family: sans-serif;
  }

  .project-summary{
    font-size: 14px;
    list-style-type: square;
  }

  .project-summary::marker{
    font-size: 1.1rem;
    
  }
 .project-name{
    font-size: 25px;;
 }

 .visit-btn{
  /* position: absolute;
  left: 8%; */
  margin: 5px 5px 5px 0px;
  padding: 5px 10px 5px 10px;
  /* bottom: 10%; */
  background-color: rgb(252, 211, 10);
  font-size: 15px;
  font-weight: 700;
  font-family:Montserrat;
  border: none;
  color: rgb(39, 38, 38);
  cursor: pointer;
  transition:0.4s;
  max-width: 400px;
 }

 .visit-btn:hover{
  background-color: white;

 }
.project-heading{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding-left: 53px;
  margin-bottom: 0px;
  color: black;
}
.project-div{
  background-color: rgb(230, 230, 230);
  padding-top: 10px;
  padding-bottom: 50px;
}

  @media only screen and (max-width: 768px){
    .card-arrangment{
      grid-template-columns: 1fr; 
    }

    .card1:hover:before {
      transform: scale(100);
    }
  }

  @media only screen and (max-width: 700px){
    /* .card{
      min-width: 300px;
      min-height: 500px;

    } */

    /* .short-card{
      min-height: 250px;
    } */

    /* .visit-btn{
      font-size: 14px;
      padding: 8px 5px 8px 5px;
      right: 140px;;
      left:20px;
    } */

    .card1:hover:before {
      transform: scale(70);
    }
  }

  @media only screen and (max-width: 1480px){
    .card-arrangment{
      grid-template-columns: 1fr 1fr;
    }

    .card1:hover:before {
      transform: scale(100);
    }
    
    /* .card{
      min-width: 400px;
    } */
  }

  @media only screen and (max-width: 1054px){
    .card-arrangment{
      grid-template-columns: 1fr;;
    }

    .card1:hover:before {
      transform: scale(100);
    }

  }

/* ===================================*/
/* navbar CSS */

.navbar-div{
  margin: 0px;
  display:table;
  width:100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/background\ image.avif");;
  background-position:center top;
  height:650px;
  
 
  
  
}

.my-name{
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 100px;;
  position: absolute;
  top: 20%;
  left: 26%;
  right: 16%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
  border-radius: 10px; 
  display: inline-block;
   
}

@media only screen and (max-width: 768px){
  
  .my-name{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 80px;;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 70px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    border-radius: 10px; 
     
  }
}

@media only screen and (max-width: 700px){
  .my-name{
    font-size: 70px;
  }
}

@media only screen and (max-width: 1480px){
  .my-name{
    left: 20%;
    right: 10%;
  }
}


/* ======================================
Education css */

.education-div{
  background-color: rgb(26, 25, 25);
  color: white;
}

.education-arrangment{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heading-div{
  display: relative;
}

.education-heading{
  font-family: sans-serif;
  font-size: 50px;;
  font-weight: bolder;
  padding-left: 60px;;
}


.education-detail{
  margin-top: 10px;;
  padding-top: 15px;;
}

.education-detail p{
  font-family: sans-serif;
}

.standard{
  font-size: 25px;;
  font-weight: bold;
  margin-bottom: 0px;;
}
.year{
  margin-top: 4px;;
  font-size: 14px;
  color: rgb(196, 195, 195);
} 
.school{
  margin-top: 7px;;
  margin-bottom: 0px;
  font-size: 2;
  color: rgb(196, 195, 195);
}
.cgpa{
  background-color: rgb(219, 29, 29);
  display: inline;
  padding: 5px;;
  border-radius: 3px;;
}

.education-list{
  list-style-type: square;
  
}

.education-list::marker{
  font-size: 2rem;
  color: red;
}

@media only screen and (max-width: 700px){
  .education-arrangment{
    grid-template-columns: 1fr;
    padding-left: 30px;;
  }

  .line{    
    font-size: 0px;;    
  }

  .education-heading{
    font-family: sans-serif;
    font-size: 45px;;
    font-weight: bolder;
    padding-left: 37px;;
    margin-bottom: 0px;
  }

  .standard{
    font-size: 18px;
  }

  .school{
    font-size: 14px;
  }
  .year{
    font-size: 14px;
  }
  .cgpa{
    font-size: 14px;
  }
}

/* =======================================
internship css */

.intern-arrangment{
  /* background-color: aqua; */
  font-family: sans-serif;
  padding: 20px;;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 200px;
  padding-bottom: 40px;;
  
  color: white;
  
}

.company{
  font-size: 30px;;
  font-weight: bold;
  margin-bottom: 0px;;
  
}

.location{
  margin-top: 3px;;
  padding-left: 1px;;
  font-size: 14px;;
  margin-bottom: 0px;;
  color: rgb(196, 195, 195);
  
}
.role{
  margin-top: 12px;;
  margin-bottom: 0px;;
  background: rgb(219, 29, 29);
  display: inline-block;
  padding: 5px;
  padding-left: 7px;;
  padding-right: 7px;
  font-family: Montserrat;
  border-radius: 3px;;
}
.date{
  margin-top: 3px;;
  font-size: 14px;
  color: rgb(196, 195, 195);;
}
.intern-list{
  margin-top: 30px;
}

.intern-list ul{
  list-style-type: square;
  
}

.list-item::marker{
  font-size: 20px;
  color: red;
}

.internship-heading{
  font-size: 50px;;
  font-weight: bold;
  padding-left: 50px;
  margin-bottom: 0px;;
  color: white;
  margin-top: 0px;
}

.intern-div{
  background-color: rgb(28, 26, 26);
  margin-top: 0;
  padding-top: 40px;;
  padding-bottom: 80px;
}
.intern-summary{
  color: rgb(216, 215, 215);;;
}
.about_intern{
  border:solid;
  border-color: red;
  position: relative;
}
.intern-btn{
  font-size: 60px;;
  border-radius: 20px;;
  text-align: center;
  background-color:rgb(28, 26, 26);
  color: red;
  font-weight: bold;
  border: none;
  position: absolute;
  right: 0px;;
  bottom: 120px;
  cursor: pointer;
  transition: 0.3s;
}
.intern-btn:hover{
  opacity:0.8;
}

.certificate-btn{
    margin-top: 25px;
    position: absolute;
    left: 4%;
    padding-top: 10px;;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;;
    /* bottom: 10%; */
    background-color: rgb(252, 211, 10);;
    font-size: 15px;
    font-weight: 700;
    font-family:Montserrat;
    border: none;
    color: rgb(39, 38, 38);
    cursor: pointer;
    transition:0.4s;

}
.certificate-btn:hover{
  background-color: white;
}

@media only screen and (max-width: 700px){
  .intern-arrangment{
    grid-template-columns: 1fr;
  }

  .certificate-btn{
    left:13%;
  }

  .intern-btn{
    font-size: 40px;
    top:10px;
    right: 0px;
    padding: 0px;
    
  }
  
  .internship-heading{
    font-size: 45px;
  }
  .company{
    font-size: 29px;
  }
  
}

/* ==========================================
achivemnt css */


.achivement-div{
  background-color: black;
  color: white;
}

.achievment-arrangment{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;;
  column-gap: 50px;;
}

.achivement-heading{
  font-size: 50px;
  font-weight: bold;
}
.achivement-list{
  list-style-type: square;
}

.achivement-list li::marker{
  font-size: 20px;
  color: red;
}

@media only screen and (max-width: 768px){
  .achievment-arrangment{
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;;
    column-gap: 50px;;
  }
}

/* ======================
sidebar css */

.sidebar-outer-div{
  display: flex;
  background-color: transparent;
  position: fixed;
  top: 20%;
  right: 2%;
  z-index: 5;
  
}

.sidebar-div{
  background-color: white;
  
  
  padding: 10px;;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;;
  box-shadow: 0px 0px 10px  rgb(0, 0, 0);

}

.icon{
  height:30px;;
  padding-bottom: 5px;;  
  
}

.icon:hover{
  border-style: solid;
  border-width: 0px 0px 3px 0px ;
  border-color: orangered;
}

 @media only screen and (max-width: 768px) {
  .sidebar-outer-div{
    left: 50%;
    right: 0%;
    top: 5%;
    transform: translateX(-30%);
  }
  .sidebar-div{    
    right: 30%;  
    padding: 10px;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;  
  }

  .icon{
    height:25px;;
    padding-bottom: 5px;;  
    
  }
  
}



@media only screen and (max-width: 700px){
  .sidebar-outer-div{
    left: 50%;
    right: 0%;
    top: 5%;
    transform: translateX(-40%);
  }
} 

@media only screen and (max-width: 631px){
  .sidebar-outer-div{
    left: 50%;
    right: 0%;
    top: 5%;
    transform: translateX(-40%);
  }
}

@media only screen and (max-width: 595px){
  .sidebar-outer-div{
    left: 50%;
    right: 0%;
    top: 5%;
    transform: translateX(-50%);
  }
}